<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Projects</title>
</head>
<body>
    <header class="navigation">
        <div class="logo">
          <a href="/">
            <img src="../assets/logo.svg" alt="Site Logo">
          </a>
        </div>
    
        <nav>
    
          <ul class="nav-socials">
            <li><a target="_blank" href="/fb">
                <div class="nav-fb"></div>
    
              </a></li>
            <li><a target="_blank" href="/insta">
    
                <div class="nav-insta"></div>
    
              </a></li>
            <li><a target="_blank" href="/youtube">
                <div class="nav-yt"></div>
    
    
              </a></li>
            <li><a target="_blank" href="/tiktok">
                <div class="nav-tiktok"></div>
    
    
              </a></li>
            <li><a target="_blank" href="/linkedin">
                <div class="nav-linkedin"></div>
    
    
              </a></li>
            <li class="nav-lang">
              <a href="">
                GEO
              </a>
              <a href="">
                RU
              </a>
              <a href="">
                EN
              </a>
            </li>
          </ul>
          <ul class="nav-links">
            <li><a href="/home">პროექტები</a></li>
            <li><a href="/about">შესახებ</a></li>
            <li><a href="/services">ბლოგი</a></li>
            <li><a href="/contact">სიახლეები</a></li>
            <li><a href="/contact">კონტაქტი</a></li>
            <li class="nav-phone"> <img src="assets/phone.svg" alt=""><a href="tel:+995596602602">+995 596 60 26 02</a>
            </li>
          </ul>
        </nav>
    
    
      </header>
      <aside class="hero-side-nav  inner-hero-side-nav">
        <div>ზარის მოთხოვნა</div>
        <div class="live-btn">Live</div>
      </aside>
      <section class="projects " id="projectsInner">
     
        <div class="side-nav">
          
          <span>პროქტები</span>
        </div>
        <main>
          <a href="" class="project">
            <div class="project-top">
              <img src="../assets/project.jpg" alt="">
            </div>
            <div class="project-bottom">
              <div class="project-name">
                <header>
                  <h2>02 / სათაური</h2>
                  <h3>ლა ბათუმი ფამილია</h3>
    
                </header>
                <img src="../assets/detailsArrow.svg" alt="">
    
              </div>
    
              <ul class="project-content">
                <li>ლოკაცია: ახალი ბულვარი, ბათუმი
                </li>
                <li>ფასი: 27 000$-დან
    
                </li>
                <li>დასრულება: 2024
    
                </li>
    
              </ul>
              
    
            </div>
    
          </a>
          <a href="" class="project">
            <div class="project-top">
              <img src="../assets/project.jpg" alt="">
            </div>
            <div class="project-bottom">
              <div class="project-name">
                <header>
                  <h2>02 / სათაური</h2>
                  <h3>ლა ბათუმი ფამილია</h3>
    
                </header>
                <img src="../assets/detailsArrow.svg" alt="">
    
              </div>
              <ul class="project-content">
                <li>ლოკაცია: ახალი ბულვარი, ბათუმი
                </li>
                <li>ფასი: 27 000$-დან
    
                </li>
                <li>დასრულება: 2024
    
                </li>
    
              </ul>
    
            </div>
    
          </a>
        </main>
      </section>
      <footer>
        <div class="logo">
          <a href="/">
            <img src="../assets/logo.svg" alt="Site Logo">
          </a>
        </div>
        <ul class="nav-links footer-links">
          <li><a  href="/home">პროექტები</a></li>
          <li><a  href="/about">შესახებ</a></li>
          <li><a  href="/services">ბლოგი</a></li>
          <li><a  href="/contact">სიახლეები</a></li>
          <li><a  href="/contact">კონტაქტი</a></li>
        </ul>
        <div class="footer-btns">
          <div>
            ზარის მოთხოვნა
          </div>
          <a href="tel:+995596602602">
            <img src="../assets/phone.svg" alt="">
            <span>+995 596 60 26 02</span>
          </a>
        </div>
      </footer>
      <div class="copyright">
        <p>ყველა უფლება დაცულია ©2024</p>
       <a href="https://shindi.ge/" target="_blank"><img src="../assets/shindi.png" alt=""></a> 
      </div>
      <script src="../js/main.js"></script>
</body>
</html>